.radio-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.radio-volume {
    -webkit-appearance: auto !important;
    appearance: auto !important;
    width: 100px !important;
    position: relative;
}

.radio-volume__button {
    background: none;
    border: none;
    cursor: pointer;
}
.radio-volume__button:focus {
    outline: none;
}
